MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=5000
NODE_ENV=development
ADMIN_EMAIL=admin@cychigh.com
SUPABASE_JWKS_URL=https://burseayqaxjbkqmuoijp.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
