MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=5000
NODE_ENV=development
ADMIN_EMAIL=admin@cychigh.com
ADMIN_PASSWORD=your_new_secure_password
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
